body{
    background-color: #F3F5FC;
    padding: 0 3%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
}

.logo{
    position: absolute; 
}

.logo img{
    width: fit-content ;
    height: auto;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5%;
    margin: 2.5rem 0;
}
 
.encriptador{
    display: flex;
    flex-flow: row wrap;
    flex: 1 40%;
    margin-top: 7rem;
    margin-left: 12%;
    margin-bottom: 2rem;
}

.encriptador textarea{
    flex: 1 100%;
    background-color: unset;
    padding: 1rem 2%;
    border: 0;
    resize: unset;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.encriptador textarea::placeholder{
    color: #0A3871;
}

.instruccion{
    flex: 1 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 1.5%
}

.instruccion img{
    width: fit-content;
    height: auto;
}
 
.instruccion p{
    display: inline-block;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

.botones{
    flex: 1 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 1.5rem;
}

.botones input{
    flex: 1 50%;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 1rem;

    font-family: 'Inter';
    font-size: 1rem;
    color: #FFFFFF;

    border: none;
    background: linear-gradient(to bottom, #0A3871, #6185b1);

    cursor:pointer;
}

.botones input:hover {
    background: linear-gradient(to bottom,#6185b1, #0A3871);
  }

.botones input:active{
    transform: translate(5px, 5px);
    transition: all 0.2s ease;
}
.mensaje{
    flex: 1 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.portada{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.portada img{
    width: max-content;
}

.textoportada{
    text-align: center;
    margin-top: 2rem;
}

.textoportada h2{
    color: #343A40;
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: bold;
}

.textoportada p {
    line-height: 150%;
    color: #495057;
    margin-top: 1rem;
}
footer{
    text-align: center;
}