@media all and (max-width:999px){
    main{
        flex-flow: row wrap;
    }

    .encriptador{
        flex: 1 50%;
        margin-left: 0%;
        margin-bottom: 4rem;
    }

    .encriptador textarea {
        height: 25rem
    }

    .mensaje{
        flex: 1 50%;
    }

    .portada img{
        display: none;
    }
    
    .textoportada{
        margin-top: 0;
    }

    .resultado textarea{
        flex: 1 100%;
    
    }
}

@media all and (max-width:700px){
    body{
       padding: 0 6%;
    }
    main{
        flex-flow: row wrap;
    }
    .encriptador textarea {
        height: 10rem;
        width: 100%;
    
    }
    
    .botones{
        flex-flow: row wrap;
        flex: 1 100%;
    }

    .botones input {
        flex-flow: row wrap;
        flex: 1 100%;
    }
    .resultado textarea{
        flex: 1 100%;
        height: 8rem;
    }

}